<div *ngIf="validateItem?.invalid && (validateItem?.dirty || validateItem?.touched)"
  class="alert alert-danger alert-dismissible fade show" role="alert">
  <div *ngIf="validateItem?.errors?.['required']">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
