<mat-form-field class="my-alternate-theme" >
  <mat-label>Zobraziť faktúry</mat-label>
  <mat-select [formControl]="searchType" >
    <mat-option value="all">Všetky</mat-option>
    <mat-option value="paid">Uhradené</mat-option>
    <mat-option value="unpaid">Neuhradené</mat-option>
  </mat-select>
</mat-form-field>
