
.mat-form-field
{
  display: block;
  width: 12em;
  margin-left: 0.9em;
  margin-top: 0.75em;
  margin-bottom: -1em;

}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple
{
   background:  var(--bs-primary);
}

::ng-deep .mat-focused .mat-form-field-label {
  color: var(--bs-primary) !important;
}

::ng-deep  .mat-form-field-underline  {
  background-color: var(--bs-primary) !important;
}


::ng-deep .mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after
{
  color: var(--bs-primary);
}


::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled)
{
  color: var(--bs-primary);
}


