<mat-toolbar role="toolbar" class="task-header">
  <span>Odhlásenie</span>
  <span class="fx-spacer"></span>
  <button mat-icon-button (click)="onNoClick()">
      <mat-icon mat-list-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <h3>Odhlásiť používateľa <b>{{this.data.userName}}</b> ?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button  (click)="onNoClick()" >Nie</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Áno</button>
</mat-dialog-actions>
