<div class="nav-menu-item" *ngIf="invoice" >
  <div class="top-separator">
    <p class="nav-menu-left-text bol-text"><a [routerLink] = "['/invoices', invoice.id]">{{invoice.invoiceNumber}}</a> </p>
    </div>
  <div class="">
      <div class="partner-name">{{invoice.partnerName}} </div>
      <div class="sign-circle" [ngStyle]="{'background-color': (invoice.isPaid) ? 'green' : 'red'}" ></div>
  </div>
  <div>
    <p class="nav-menu-left-text">{{invoice.dateTime | date }}</p>
    <p class="nav-menu-right-text">{{invoice.totalSum | twoDecimalPlaces | currencySign}}</p>
  </div>
</div>
