.nav-menu-item{
  max-width: 13em;
  background: #ffffff;
  margin: 4px;
  border: 1px solid #0275d8;
  border-radius: 10px 10px 0px 0px;
}

.nav-menu-left-text{
  display: inline;
  margin-left: 5px;
}

.nav-menu-right-text{
  display: inline;
  margin-right: 5px;
  float: right;
  max-height: 0.7em;
}


.top-separator
{
  border-radius: 7px 7px 0px 0px;
  background-color: #0275d8;
  height: 1.6em;
}

.bol-text{
  font-weight: bold;
  color: white;
}


.sign-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: right;
  margin-right: 10px;
  margin-top: -20px;
}


.partner-name
{
  margin-left: 0.35em;
  padding-top: 0.25em;
  width: 10em;
  display: block;
  height: 2em;

}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;

}

/* selected link */
a:active {
  color: white;
}
