<div [formGroup]="form">
      <app-invoice-document-item *ngFor="let item of items.controls; let i = index" [formControl] = "getItem(i)" (removeItem)="onRemoveItem($event)" ></app-invoice-document-item>
  <div class="row pt-3 mb-5 align-items-end">
    <div class="col text-end">
      <button class="btn btn-outline-primary pr-10 button-add" (click)="addItem()">Pridať položku</button>
    </div>
  </div>
</div>
