 <div *ngIf="showPanel"  >
  <form [formGroup]="invoiceForm">
    <div class="container  col-md-6 mt-4" lockContent>
      <div class="form-group">
        <label for="fnumber" class="control-label">Číslo faktúry</label>
        <input type="text" class="form-control" id="fnumber" placeholder="Číslo faktúry"
          formControlName="invoiceNumber" [ngClass]="validate('invoiceNumber')" required>
      </div>
      <div class="form-group">
        <label for="partnerName" class="control-label">Názov partnera</label>
        <input type="text" class="form-control" id="partnerName" placeholder="Názov partnera"
          formControlName="partnerName" required [ngClass]="validate('partnerName')" >
      </div>
      <div class="form-group ">
        <label for="date" class="control-label">Dátum vystavenia</label>
        <input type="date" class="form-control" id="date" formControlName="dateTime">
      </div>

     <app-invoice-document-items-list formControlName="items"></app-invoice-document-items-list>


      <div class="form-group">
        <label for="sum" class="control-label">Celková suma</label>
        <app-numeric-label formControlName="totalSum" id="sum" placeholder="Celková suma"></app-numeric-label>
      </div>
      <div class="send-invoice mt-3">
        <div class="form-check form-switch switch">
          <input class="form-check-input" type="checkbox" role="switch" id="customSwitch1"
            formControlName="isPaid">
          <label class="form-check-label" for="customSwitch1">Uhradené</label>
          <div *ngIf="isNewInvoice"  class="float-sm-end">
            <button class="btn btn-outline-primary float-sm-end" [disabled]="!invoiceForm.valid" (click)="onAddInvoice()">Pridať</button>
          </div>
          <div *ngIf="!isNewInvoice" class="float-sm-end" >
            <button class="btn btn-outline-primary" (click)="onUpdate()">Uložiť</button>
          </div>
          <div *ngIf="!isNewInvoice" class="float-sm-end button-right-margin" >
            <button class="btn btn-outline-primary" (click)="onNew()">Nová</button>
          </div>
        </div>
        <div class="mt-5"></div>
        <app-error-message [validateItem] = "invoiceNumber" message = "Zadajte číslo faktúry." ></app-error-message>
        <app-error-message [validateItem] = "invoicePartnerName" message = "Zadajte názov partnera." ></app-error-message>
      </div>
    </div>
  </form>

</div>
