.navbar-nav > .active > a {
  color: white;
  background-color: #007bff;
}
.nav-item > a:hover {
  color: #007bff;
}


.btn-log-out
{
  padding-top: 0px;
  padding-left: 5px;

}

.icon-log-out
{
  position: relative;
  transform: scale(1.4);
  top: 0.25em;
  left: -0.05em;
  margin-right:0.15em ;
  margin-left: 0.12em;

}

::ng-deep .custom-log-out-modal-box {
  mat-dialog-container {
        width: 350px;
        padding: 0px;
        height: 130px;
        overflow: hidden;
  }

  mat-dialog-content{
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  mat-toolbar{
    margin-top: 0px;
    background-color: #0275d8!important;
    color: white;
    height: 35px!important;
    width: 360px;
  }

  h3 {
   margin: 0px;
  }

  mat-dialog-actions{
    margin-top: 0px;
    min-height: 40px;
    padding-right: 5px;
  }

}
