<body>
    <nav *ngIf="!isShowingLoginPage"  class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/home">Domov</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" >
              <a class="nav-link" routerLink="/invoices/{{navLink}}" >Faktúry</a>
            </li>
          </ul>
          <div class="d-flex logout">
            <button class="btn btn-outline-primary btn-log-out" (click)="onLogOut()"> <mat-icon  class="icon-log-out"> supervised_user_circle </mat-icon>Odhlásiť</button>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
</body>

