<form [formGroup]="form" class="main-content">
  <app-search-invoice [currentInput]="currentSearchTerm" (searchTermsChange)="onSearch($event)"></app-search-invoice>
  <app-filter-invoices-by-pay-status [currentSearchType]="currentSearchType"
    (searchTypeChange)="onChangeSerachTypeChanged($event)"></app-filter-invoices-by-pay-status>
  <div class="left-side-bar">
    <nav class="nav-menu">
      <ol class="navbar-nav">
        <ngx-spinner bdColor="rgba(0,0,0,0)" size="default" color="#1367e4" type="ball-clip-rotate-multiple"
          [fullScreen]="false">
          <p>Loading... </p>
        </ngx-spinner>
        <li class="nav-item" *ngFor="let item of invoices">
          <app-side-bar-invoice-list-item [invoice]="item"></app-side-bar-invoice-list-item>
        </li>
      </ol>
    </nav>
    <app-total-price formControlName="totalPriceInfo"></app-total-price>
  </div>
</form>

<div class="fill">
  <div *ngIf="!userHasEditRights" class="overlay">
    <mat-icon  class="icon-display">lock</mat-icon>
    <p class="icon-text" >Doklad nie je možné editovať.<p>
  </div>
  <router-outlet></router-outlet>

</div>
