.center {
  position: relative;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translate(0,-50%);
}

.left-side-bar
{
  width: 15em;
  display: inline-block;
  height: calc(100% - 10.2em);
}

.nav-menu
{
  width: 15em;
  display: block;
  height: calc(100% - 1.50em);
  overflow-y: auto;
}

.fill
{
  float: right;
  width: calc(100% - 16em);
  height: calc(100vh - 3.5em);
  background-color: white;
  overflow-y: auto;
}


.send-invoice
{
  margin-top: 15px;
}

.main-content
{
  bottom: 0px;
  top: 60px;
  position: absolute;
  display: inline;
  z-index: -1;
}


.icon-display {
  transform: scale(5);
  position: absolute;
  color:  #0275d8;;
  z-index: 10;
  top: 50%;

}

.icon-text{
  margin-top: 9.5em;
  color:  #0275d8;;
  font-weight: bold;
}

.overlay {
  position: absolute;
  width: 100%;
  opacity:1;
  color: black;
  font-size: 20px;
  width: calc(100% - 15em);
  height: calc(100vh - 3.5em);
  top: 0;
  padding-left:  0em;
  margin-top:3.1em ;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
