<div class="fill">
  <mat-card class="center">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Prihlásenie</h2>
        <mat-error *ngIf="wrongPassword" >
          {{wrongPasswordMsg}}
        </mat-error>
        <div class = "field-style" >
          <mat-icon  class="icon-display">account_circle</mat-icon>
          <mat-form-field>
            <input matInput placeholder="Meno" formControlName="username" name="username" required>
            <mat-error>
              Zadajte meno používateľa
            </mat-error>
          </mat-form-field>
        </div>
        <div class = "field-style">
          <mat-icon  class="icon-display">lock</mat-icon>
          <mat-form-field>
            <input matInput type="password" placeholder="Heslo" formControlName="password" name="password" required>
            <mat-error>
              Zadajte heslo používateľa
            </mat-error>
          </mat-form-field>
        </div>
        <button class="btn button">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

