

.example-card {
  max-width: 400px;
}


 mat-card {
   max-width: 500px;
   width: 350px;
   margin: 2em auto;
   text-align: center;
}

  mat-form-field {
    width: 100%;
    margin-right: 10%;
    margin-left: 10%;
  }


 .icon-display {
    align-items:right;
    transform: scale(1.9);
    padding-left: 5px;
    padding-top: 7px;
    color:  #0275d8;;
 }


.center {
  position: absolute;               /* 2 */
  top: 50%;
  left: 50% ;                        /* 3 */
  transform: translate(-65%, -65%)
}

.fill
{
  background-color:#0275d8;;
  width: calc(100%);
  height: calc(100vh);
}


.button
{
  background-color:#0275d8;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.field-style
{
  display:flex;
  margin-top: 5px;
}
