<div class="div-border" [formGroup]="form">
  <input
    #decimalInput
    type="text"
    [allowNegativeNumbers]="true"
    formControlName="decimalInputControl"
    [mask]="currentMask"
    thousandSeparator=""
    class="form-control"
    (keyup)="onValueChanged($event)">
  <div class="up" (mousedown)="onMouseDownButtonUpEvent($event)"></div>
  <div class="down" (mousedown)="onMouseDownButtonDownEvent($event)"></div>
</div>
