.div-border {
  position: relative;
}

.up {
  position: absolute;
    top: 7px;
    right: 12px;
    height: 12px;
    width: 15px;
    background: url("/assets/img/normal-up.png") no-repeat;
    background-size: contain;
}

.up:hover {
  background: url("/assets/img/hoover-up.png") no-repeat;
  background-size: contain;
}

.up:active {
  background: url("/assets/img/clicked-up.png") no-repeat;
  background-size: contain;
}

.down {
  position: absolute;
    top: 19px;
    right: 12px;
    height: 12px;
    width: 15px;
    background: url("/assets/img/normal-down.png") no-repeat;
    background-size: contain;
}

.down:hover {
  background: url("/assets/img/hoover-down.png") no-repeat;
  background-size: contain;
}

.down:active {
  background: url("/assets/img/clicked-down.png") no-repeat;
  background-size: contain;
}
