<div class="disappearing-menu-separator"></div>
<form [formGroup] = "sumForm" class="total-price">
  <div class="total-price-row">
    <p class="totalSumDescription">Uhradené :</p>
    <input [value]="sumForm.controls['paidSum'].value | twoDecimalPlaces | currencySign" class="totalSumValue" disabled>
  </div>
  <div class="total-price-row">
    <p class="totalSumDescription">Neuhradené :</p>
    <input [value]="sumForm.controls['unpaidSum'].value | twoDecimalPlaces | currencySign" class="totalSumValue" disabled>
  </div>
</form>
