.total-price-row
{
  position: relative ;
  padding-top :0.5em;

}

.totalSumValue
{
  float: right;
  clear: both;
  margin-right: 0.5em;
  margin-bottom: 0em;
  margin-top: 0.0em;
  width: 7.5em;
  border: none;
  text-align: right;
  &:disabled {
    background: white;
    color: black;
 }

}

.disappearing-menu-separator {
  position: absolute;
  bottom: 5.2em;
  width: 13.5em;
  height: 0.45em;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0), rgba(255,255,255,1));
}

.total-price
{
  width: 15em;
  height: 5em;
  padding-top: 0.35em;
  margin-left: 1px;
  margin-top: 2px;
  border: 1px solid rgb(206, 212, 2018);
  border-radius: 5px;
}

.totalSumDescription
{
  display: inline;
  margin-left: 0.5em;
  clear: both;
}
