<div [formGroup]="item">
  <div class="row mt-5">
    <div class="col-11">
      <div class="row">
        <div class="col-6">
          <label for="itemName" class="form-label">Názov položky</label>
          <input type="text" class="form-control" placeholder="" aria-label="Názov položky" formControlName="itemName"
            id="itemName">
        </div>
        <div class="col">
          <label for="amount" class="form-label">Množstvo</label>
          <app-decimal-input aria-label="Množstvo" formControlName="amount" id="amount"></app-decimal-input>
        </div>
        <div class="col">
          <label for="unitPrice" class="form-label">Jed. cena</label>
          <app-decimal-input aria-label="Jednotková cena" formControlName="unitPrice" id="unitPrice"></app-decimal-input>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col">
          <label for="totalPrice" class="form-label">Celková cena</label>
          <app-numeric-label formControlName="totalPrice" id="totalPrice"></app-numeric-label>
        </div>
      </div>
    </div>
    <div class="col-1 align-self-center">
      <button class="btn btn-danger btn-sm rounded-1 button-delete" type="button" data-toggle="tooltip" title="Delete"
        (click)="onRemoveItemCliked()"><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>
